

#prod-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20vw;
    
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#prod-details input{
    width: 20vw;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

 .add-prod{
    width: 20vw;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.prod-tb-div {
    width: 100%;
    margin-top: 20px;
}

#prod-table {
    width: 100%;
    border-collapse: collapse;
}

#prod-table td, #prod-table th {
    padding: 12px 15px;
    border: 1px solid #ccc;
    text-align: left;
}

#prod-table th {
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.prod-filter{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.prod-filter label{
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

select{
    width: 20vw;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}